body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e5e5e5;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
}

/* Header */
.header {
    background: #f5f5f5;
    border: 1px solid #333;
    text-align: left;
    padding: 30px 15px;
    margin-bottom: 15px;
}

/* Nav Bar */
.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #f5f5f5;
    border: 1px solid #333;
    padding: 15px;
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Main layout*/
.content-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

/* Main content area */
.main {
    background: #f5f5f5;
    border: 1px solid #333;
    padding: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
}

.main p {
    background: #fff;
    border: 1px solid #333;
    padding: 30px;
    margin: 0;
    flex: 0 0 200px;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #f5f5f5;
    border: 1px solid #333;
    padding: 20px;
}

/* Footer */
.footer {
    background: #f5f5f5;
    border: 1px solid #333;
    padding: 10px;
    font-size: 12px;
}